// 主题样式

// 弹窗层级
$dialogZIndex:9;

// 背景色
$background: #fff;

// 边线
$borderColor:  #00000014;

// 右侧阴影
$rightShadow : 0 0 12px 1px #00000014;

// 下方阴影
$bottomShadow: 0 2px 8px 1px #0000000a;

// 鼠标hover背景色
$hoverBackground: #f5f6f7;

// 激活状态的背景色
$activeBackground: #edf2ff;

// 文字颜色
$color: #141414;

// 描述性文字颜色
$descColor: #999;

// 激活状态的文字颜色
$activeColor: #547dff;
